{{> heder}}
{{> navbar}} {{!-- llamando el template que contiene la cabecera de este archivo --}} 

<div class="row">
    <div class="col-8">
        <h1 style="margin-left: 20px; text-allin:center;">
              Las sonas verdes de  Finlandia 
        </h1>
    </div>
    <div class="col-4">
        <img src="assetss/img/paisaje.jpg" class="img-thumbnail">
    </div>

</div>

    
{{> footer}}